<!-- Basic footer template-->
<div class="is-flex is-justify-content-center is-align-items-end mb-3">
  Copyright <a class="hidelink has-text-info" href="/dashboard">©</a>
  <script>
    document.write(new Date().getFullYear());
  </script>
</div>
