<!-- Basic footer template-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
/>

Copyright <a class="hidelink" href="/dashboard">©</a>
<script>
  document.write(new Date().getFullYear());
</script>
