
<% userLevel%>
<div class="is-flex is-justify-content-center is-align-items-end mb-3">
  <% if (!userLevel) { %> Copyright <a class="hidelink has-text-text" href="/dashboard">©</a></a> <% } %> 
  <% if (userLevel === "user") { %> Copyright <a class="hidelink has-text-text" href="/dashboard">©</a></a> <% } %> 
  <% if (userLevel === "request") { %> Copyright <a class="hidelink has-text-text" href="/dashboard">©</a></a> <% } %> 
  <% if (userLevel === "admin") { %> Copyright <a class="hidelink has-text-text" href="/dashboard-admin">©</a></a> <% } %> 
  <script>
    document.write(new Date().getFullYear());
  </script>
</div>
