<!-- Basic navigation bar template -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
/>
<div>
  <nav>
    <ul>
      <li class="is-inline">
        <a href="/">Home</a>
      </li>
      <li class="is-inline">
        <a href="/signup">Sign up</a>
      </li>
      <li class="is-inline">
        <a href="/login">Login</a>
      </li>
    </ul>
  </nav>
</div>
