<!-- Basic navigation bar template -->
<div>
  <nav>
    <ul class="m-2">
      <li class="is-inline px-2">
        <a class="has-text-info" href="/">Home</a>
      </li>
      <li class="is-inline px-2"">
        <a class="has-text-info" href="/signup">Sign up</a>
      </li>
      <li class="is-inline px-2"">
        <a class="has-text-info" href="/login">Login</a>
      </li>
    </ul>
  </nav>
</div>
