
<% userLevel%>
<nav class="navbar is-flex">
  <div>
    <a class="navbar-item" href="/">
      <svg
        class="m-1"
        width="640"
        height="220"
        fill="none"
      ></svg>
    </a>
  </div>

  <div class="navbar-menu is-flex">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>

        <div class="navbar-dropdown">
          <% if (!userLevel) { %><a class="navbar-item" href="/signup"> Sign up </a> <% } %> 
          <% if (!userLevel) { %><a class="navbar-item" href="/login"> Login </a> <% } %> 
          <% if (userLevel === "user") { %><a class="navbar-item" href="/support">Support</a></a> <% } %> 
          <% if (userLevel === "request") { %><a class="navbar-item" href="/support">Support</a></a> <% } %> 
          <% if (userLevel === "admin" ) { %><a class="navbar-item" href="/support-admin">Support</a></a> <% } %> 
          <% if (userLevel === "user") { %><a class="navbar-item" href="/dashboard">Dashboard</a></a> <% } %> 
          <% if (userLevel === "request") { %><a class="navbar-item" href="/dashboard">Dashboard</a></a> <% } %> 
          <% if (userLevel === "admin") { %><a class="navbar-item" href="/dashboard-admin">Dashboard</a></a> <% } %> 
          <% if (userLevel) { %><a class="navbar-item" href="/userdata">User</a></a> <% } %> 
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if (!userLevel) { %><a
            class="button is-info is-outlined mt-1"
            href="/signup"
          >
            <strong>Sign up</strong>
          </a>
          <% } %> <% if (userLevel === "user") { %>
          <form class="form has-text-centered" method="post" action="/logout">
            <button class="button is-info is-outlined mt-1" type="submit">
              Log out
            </button>
          </form>
          <% } %> 
          <% if (userLevel === "request") { %>
            <form class="form has-text-centered" method="post" action="/logout">
              <button class="button is-info is-outlined mt-1" type="submit">
                Log out
              </button>
            </form>
            <% } %>
          <% if (userLevel === "admin") { %>
          <form class="form has-text-centered" method="post" action="/logout">
            <button class="button is-info is-outlined mt-1" type="submit">
              Log out
            </button>
          </form>
          <% } %> <% if (!userLevel) { %><a
            class="button is-info is-outlined mt-1"
            href="/login"
          >
            <strong>Log in</strong>
          </a>
          <% } %> <% if (userLevel === "user") { %><a
            class="button is-info is-outlined mt-1"
            href="/dashboard"
            >Dashboard</a
          >
          <% } %> 
          <% if (userLevel === "request") { %><a
            class="button is-info is-outlined mt-1"
            href="/dashboard"
            >Dashboard</a
          >
          <% } %>
          <% if (userLevel === "admin") { %><a
            class="button is-info is-outlined mt-1"
            href="/dashboard-admin"
            >Dashboard</a
          >
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
