<section>
  <br />
  <br />
  <div class="container">
  <br />
  <h1 class="title">Admin support panel overview</h1>
  <form class="form" method="post">
    <input class="input" type="email" name="email" placeholder="Email" />
    <button class="button is-info is-outlined mt-1 is-inline" type="submit">
      Submit
    </button>
  </form>
<br><br>
  <div class="columns">
    <% display.forEach(function(result){ %>
    <div class="column"><div class="box">
      <a href="mailto:<%= result.email %>">
        <p> <%= result.email %>
        <br><br>
            <%= result.text %></p></div></a>
      <hr />
    </div>
  
    <% }) %>
  </div>
</section>
