<div class="container">
  <br />
  <h1 class="title">Admin support panel overview</h1>
  <br />
</div>
<div class="form">
  <input
    class="input"
    type="email"
    name="email"
    placeholder="Search by user email"
  />
</div>
<br />
<div class="columns is-multiline">
  <% display.forEach(function(result){ %>
  <div class="column">
    <div class="box py-4 mx-3"><%= result.text %></div>

    <div class="box py-4 mx-3"><%= result.email %></div>
    <hr />
  </div>

  <% }) %>
</div>
