<section>
  <br />
  <br />
  <div class="container">
  <br />
  <h1 class="title has-text-centered">All ticket overview</h1>
  <br>
  <div class="container" style="width: 33%">
<form class="form has-text-centered" for="name" method="get" name="email">
  <input class="input" name="email" value="" placeholder="Email" />
  <button class="button is-info is-outlined mt-1 is-outlined" type="submit">
    Submit
  </button>
</form>
</div>

<br><br>
  <div class="columns">
    <% display.forEach(function(result){ %>
    <div class="column"><div class="box">
      <a href="mailto:<%= result.email %>">
        <p> <%= result.email %>
        <br><br>
            <%= result.text %></p></div></a>
            <form class="has-text-centered" method="post" action="/support-admin/<%= result.id %>">
              <button class="button" type="submit">Archive</button>
            </form>
    </div>
  
    <% }) %>
  </div>
</section>
