<section>
  <br />
  <br />
  <div class="container">
    <br />
    <h1 class="title">Dashboard for user <%= email %></h1>
    <br />
  </div>

  <div class="columns is-centered">
    <form
      class="form has-text-centered is-inline mx-1"
      method="get"
      action="/support"
    >
      <button class="button is-info is-outlined mt-1" type="submit">
        Go to support
      </button>
    </form>
    <form
      class="form has-text-centered is-inline mx-1"
      method="post"
      action="/dashboard/delete"
    >
    <% if (userLevel === "user") { %><button
      class="button is-info is-outlined mt-1"
      type="submit"
    >
      Delete user
    </button>
    <% } %>
  </form>
  <% if (userLevel === "request") { %><a
    href="mailto:requestdeletion@email.com"
    ><button class="button is-info is-outlined mt-1">
      Request user deletion
    </button></a
  >
  <% } %>
    </form>
  </div>
  <br />
  <div class="columns is-multiline">
    <% display.forEach(function(result){ %>
    <div class="column">
      <div class="box py-4 mx-3"><%= result.text %></div>
      <hr />
    </div>

    <% }) %>
  </div>
</section>
<br /><br />
