<section style="height: 80vh">
  <br />
  <br />
  <div class="container">
    <br />
    <h1>Dashboard for user <%= email %></h1>
    <br />
  </div>
  <form class="form has-text-centered" method="post" action="/dashboard/delete">
    <button class="button is-info is-outlined mt-1" type="submit">
      Delete user
    </button>
  </form>
  <div class="container">
    <% if (userLevel === "user") { %>
    <p>You're a standard user</p>
    <% } %> <% if (userLevel === "admin") { %>
    <p>You're an admin</p>
    <% } %>
  </div>
</section>
