<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <section style="height: 80vh" class="section">
      <div class="container">
        <h1 class="title">Homepage</h1>
        <br />
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          accusantium iusto, similique quidem vel accusamus adipisci incidunt
          dolorem illum libero laboriosam modi delectus. Similique molestias
          repellendus voluptas error laboriosam voluptatem exercitationem in
          animi, temporibus nisi facilis iure? Modi officia dolore, placeat
          architecto vitae repudiandae nihil reiciendis quo ipsa? Maxime
          pariatur, iusto veritatis, odio rerum soluta porro molestiae, dolore
          amet eum omnis quo cumque totam dolor unde exercitationem at. Est,
          dolores. Voluptatem non, esse eaque, odio alias cum commodi architecto
          reprehenderit at atque voluptas eos. Labore provident ducimus corrupti
          perspiciatis veniam numquam omnis repudiandae qui suscipit quod,
          aliquam vel? Eius, perferendis.
        </p>
        <br />
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          accusantium iusto, similique quidem vel accusamus adipisci incidunt
          dolorem illum libero laboriosam modi delectus. Similique molestias
          repellendus voluptas error laboriosam voluptatem exercitationem in
          animi, temporibus nisi facilis iure? Modi officia dolore, placeat
          architecto vitae repudiandae nihil reiciendis quo ipsa? Maxime
          pariatur, iusto veritatis, odio rerum soluta porro molestiae, dolore
          amet eum omnis quo cumque totam dolor unde exercitationem at. Est,
          dolores. Voluptatem non, esse eaque, odio alias cum commodi architecto
          reprehenderit at atque voluptas eos. Labore provident ducimus corrupti
          perspiciatis veniam numquam omnis repudiandae qui suscipit quod,
          aliquam vel? Eius, perferendis.
        </p>
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          accusantium iusto, similique quidem vel accusamus adipisci incidunt
          dolorem illum libero laboriosam modi delectus. Similique molestias
          repellendus voluptas error laboriosam voluptatem exercitationem in
          animi, temporibus nisi facilis iure? Modi officia dolore, placeat
          architecto vitae repudiandae nihil reiciendis quo ipsa? Maxime
          pariatur, iusto veritatis, odio rerum soluta porro molestiae, dolore
          amet eum omnis quo cumque totam dolor unde exercitationem at. Est,
          dolores. Voluptatem non, esse eaque, odio alias cum commodi architecto
          reprehenderit at atque voluptas eos. Labore provident ducimus corrupti
          perspiciatis veniam numquam omnis repudiandae qui suscipit quod,
          aliquam vel? Eius, perferendis.
        </p>
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          accusantium iusto, similique quidem vel accusamus adipisci incidunt
          dolorem illum libero laboriosam modi delectus. Similique molestias
          repellendus voluptas error laboriosam voluptatem exercitationem in
          animi, temporibus nisi facilis iure? Modi officia dolore, placeat
          architecto vitae repudiandae nihil reiciendis quo ipsa? Maxime
          pariatur, iusto veritatis, odio rerum soluta porro molestiae, dolore
          amet eum omnis quo cumque totam dolor unde exercitationem at. Est,
          dolores. Voluptatem non, esse eaque, odio alias cum commodi architecto
          reprehenderit at atque voluptas eos. Labore provident ducimus corrupti
          perspiciatis veniam numquam omnis repudiandae qui suscipit quod,
          aliquam vel? Eius, perferendis.
        </p>
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          accusantium iusto, similique quidem vel accusamus adipisci incidunt
          dolorem illum libero laboriosam modi delectus. Similique molestias
          repellendus voluptas error laboriosam voluptatem exercitationem in
          animi, temporibus nisi facilis iure? Modi officia dolore, placeat
          architecto vitae repudiandae nihil reiciendis quo ipsa? Maxime
          pariatur, iusto veritatis, odio rerum soluta porro molestiae, dolore
          amet eum omnis quo cumque totam dolor unde exercitationem at. Est,
          dolores. Voluptatem non, esse eaque, odio alias cum commodi architecto
          reprehenderit at atque voluptas eos. Labore provident ducimus corrupti
          perspiciatis veniam numquam omnis repudiandae qui suscipit quod,
          aliquam vel? Eius, perferendis.
        </p>
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          accusantium iusto, similique quidem vel accusamus adipisci incidunt
          dolorem illum libero laboriosam modi delectus. Similique molestias
          repellendus voluptas error laboriosam voluptatem exercitationem in
          animi, temporibus nisi facilis iure? Modi officia dolore, placeat
          architecto vitae repudiandae nihil reiciendis quo ipsa? Maxime
          pariatur, iusto veritatis, odio rerum soluta porro molestiae, dolore
          amet eum omnis quo cumque totam dolor unde exercitationem at. Est,
          dolores. Voluptatem non, esse eaque, odio alias cum commodi architecto
          reprehenderit at atque voluptas eos. Labore provident ducimus corrupti
          perspiciatis veniam numquam omnis repudiandae qui suscipit quod,
          aliquam vel? Eius, perferendis.
        </p>
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          accusantium iusto, similique quidem vel accusamus adipisci incidunt
          dolorem illum libero laboriosam modi delectus. Similique molestias
          repellendus voluptas error laboriosam voluptatem exercitationem in
          animi, temporibus nisi facilis iure? Modi officia dolore, placeat
          architecto vitae repudiandae nihil reiciendis quo ipsa? Maxime
          pariatur, iusto veritatis, odio rerum soluta porro molestiae, dolore
          amet eum omnis quo cumque totam dolor unde exercitationem at. Est,
          dolores. Voluptatem non, esse eaque, odio alias cum commodi architecto
          reprehenderit at atque voluptas eos. Labore provident ducimus corrupti
          perspiciatis veniam numquam omnis repudiandae qui suscipit quod,
          aliquam vel? Eius, perferendis.
        </p>
      </div>
    </section>
  </body>
</html>
