<section style="height: 80vh">
  <br />
  <br />
  <div class="container">
    <br />
    <h1>Login</h1>
    <form class="form" method="post">
      <input class="input" type="email" name="email" placeholder="Email" />
      <input
        class="input"
        type="password"
        name="password"
        placeholder="Password"
      />
      <button class="button is-info is-outlined mt-1" type="submit">
        Submit
      </button>
    </form>
  </div>
</section>
