<form class="form" for="name" method="post" action="/search">
  <input class="input" type="email" name="search" placeholder="Email" />
  <button class="button is-info is-outlined mt-1 is-outlined" type="submit">
    Submit
  </button>
</form>
