

     <section>
    <br />
    <br />
    <div class="container" style="width: 33%;">
      <br />
      <h1 class="title has-text-centered">Signup</h1>
      <form class="form" method="post">
        <input class="input" type="email" name="email" placeholder="Email" />
        <input
          class="input mb-1"
          type="password"
          name="password"
          placeholder="Password"
        />
        <button class="button is-info is-outlined mt-1" type="submit">
          Submit
        </button>
      </form>
      <br>
    </section>
