<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    <!-- Header template -->
    <header><%- include('partials/header') %></header>
    <!-- Table structure -->
    <br />
    <br />
    <div class="container">
      <br />
      <h1>Signup</h1>
      <form method="post">
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <button class="button is-info is-small is-outlined" type="submit">
          Submit
        </button>
      </form>
    </div>
    <!-- footer template -->
    <footer class="footer2"><%- include('partials/footer') %></footer>
  </body>
</html>
