<section>
  <br />
  <br />
  <div class="container">
    <br />
    <h1 class="title">Support</h1>
    <% if (userLevel === "user") { %>
    <div class="box is-danger">
      <p>
        Users that sends in requests will not be able to delete their own
        accounts and will be deleted only upon request
      </p>
    </div>
    <% } %>
    <form class="form" method="post">
      <!-- <input
        class="textarea"
        type="text"
        name="userRequest"
        placeholder="Input text prompt here..."
      /> -->
      <div class="field">
        <div class="control">
          <textarea
            class="textarea is-medium"
            type="text"
            name="userRequest"
            placeholder="Input text prompt here..."
          ></textarea>
        </div>
      </div>
      <button class="button is-info is-outlined mt-1" type="submit">
        Submit
      </button>
    </form>
  </div>
</section>
