<section>
  <br />
  <br />
  <div class="container">
    <br />
    <h1 class="title">user <%= email %></h1>
    <br />
  </div>
  <div>
    <form class="form" style="width: 33%" method="post" action="/userdata">
      <div class="field">
        <div class="label">
          <label for="name">First name</label>
        </div>
        <div class="control">
          <input class="input" placeholder=" Lars" name="firstName" />
        </div>
        <div class="label">
          <label for="name">Last Name</label>
        </div>
        <div class="control">
          <input class="input" placeholder=" Nottingham" name="lastName" />
        </div>
        <div class="label">
          <label for="name">Phone number</label>
        </div>
        <div class="control">
          <input class="input" placeholder=" 00 000 000" name="phoneNumber" />
        </div>
        <div class="label">
          <label for="name">Address</label>
        </div>
        <div class="control">
          <input class="input" placeholder=" Rancho 00" name="address" />
        </div>
      </div>
      <button class="button mt-1" type="submit">Submit</button>
    </form>
  </div>

  <div>
    <form class="form" style="width: 33%" method="post" action="/userupdate">
      <div class="field">
        <div class="label">
          <label for="name">First name</label>
        </div>
        <div class="control">
          <input class="input" placeholder=" Lars" name="firstName" />
        </div>
        <div class="label">
          <label for="name">Last Name</label>
        </div>
        <div class="control">
          <input class="input" placeholder=" Nottingham" name="lastName" />
        </div>
        <div class="label">
          <label for="name">Phone number</label>
        </div>
        <div class="control">
          <input class="input" placeholder=" 00 000 000" name="phoneNumber" />
        </div>
        <div class="label">
          <label for="name">Address</label>
        </div>
        <div class="control">
          <input class="input" placeholder=" Rancho 00" name="address" />
        </div>
      </div>
      <button class="button mt-1" type="submit">Submit</button>
    </form>
  </div>
</section>
